@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

:root {
  --blue-primary: #5175ff;
  --blue-secondary: #829cff;
  --dark-navy: #25293a;
  --navy: #333950;
  --gray: #747b95;
  --red: #f05b5b;
  /* new color palette */
  --navy2: #05386b;
  --dark-green: #379683;
  --green: #5cdb95;
  --light-green: #8ee4af;
  --white: #edf5e1;
  font-family: "Fjalla One", sans-serif;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 200vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  height: 70px;
  /* background: white; */
  background: var(--green);
  transition: all 500ms ease;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); */
}

.scrolling-active {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

nav .nav-ul {
  display: none;
}

nav .logo {
  margin-left: 1rem;
  /* outline: 1px solid; */
}

nav .desktop-logo {
  display: none;
}

.mobile-overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 9999999999999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.93);
  overflow-x: hidden;
  transition: 500ms;
}

.mobile-overlay .close-btn {
  color: var(--green);
  text-decoration: none;
  font-size: 5rem;
  position: absolute;
  right: 21px;
  top: -15px;
}

.mobile-overlay .overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-overlay .overlay-content a {
  color: var(--green);
  text-decoration: none;
  margin-bottom: 2rem;
  font-size: 2rem;
}

nav .fa-bars {
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--navy2);
  cursor: pointer;
}

main .top-section {
  height: 100vh;
  background: var(--green);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 999;
}

main .top-section::after,
main .top-section::before {
  position: absolute;
  bottom: -1.7rem;
  content: "";
  width: 150px;
  height: 150px;
  background: var(--green);
  z-index: 99;
}

main .top-section::before {
  right: 50%;
  transform: skew(0, 20deg);
  z-index: 999;
}

main .top-section::after {
  left: 50%;
  transform: skew(0, -20deg);
}

main .top-section h2 {
  color: var(--dark-green);
  font-size: 3rem;
  opacity: 0;
  transform: translateY(10rem);
  animation: fadeInUp 2s ease forwards;
}

.ricardo,
.hello {
  color: var(--navy2);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* DESKTOP */
@media (min-width: 740px) {
  nav {
    height: 85px;
  }

  nav .fa-bars {
    display: none;
  }

  nav .nav-ul {
    display: flex;
  }

  nav .nav-ul li {
    height: 100%;
    list-style: none;
  }

  nav .nav-ul li a {
    display: flex;
    align-items: center;
    border-bottom: 4px solid transparent;
    height: 84px;
    margin-right: 3rem;
    /* color: black; */
    color: var(--navy2);
    transition: all 250ms ease;
    font-size: 1.3rem;
    text-decoration: none;
    /* outline: 1px solid red; */
  }

  nav .nav-ul li a:hover {
    border-bottom: 4px solid var(--dark-green);
  }

  nav .nav-ul li a:active {
    border-bottom: 4px solid red;
  }

  nav .logo .desktop-logo {
    display: block;
    /* outline: 1px solid; */
  }

  nav .logo .mobile-logo {
    display: none;
  }
}
